<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183221618990-mmg0q4qq02bu5o87acj3k01kqum0hqn8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183221618990-mmg0q4qq02bu5o87acj3k01kqum0hqn8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>183221618990-jc283om3p5jkt46r9c5m3ujdh4e0el4q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC1IV_lv4A2r-vAHBLKecmij5cJ3JtOj6o</string>
	<key>GCM_SENDER_ID</key>
	<string>183221618990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.zapiti.chatAppFirebase</string>
	<key>PROJECT_ID</key>
	<string>flutterchat-30472</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterchat-30472.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183221618990:ios:5a666f7f3c776394</string>
	<key>DATABASE_URL</key>
	<string>https://flutterchat-30472.firebaseio.com</string>
</dict>
</plist>